<nav class='navbar navbar navbar-fixed-top' role="navigation">
  <div class='container-fluid'>
    <div class='collapse navbar-collapse'>
      <div class='navbar-header pull-left'>
        {{#link-to 'index' class='navbar-brand app-name'}}
          Bloggr <i class='glyphicon glyphicon-fire'></i>
        {{/link-to}}
      </div>
    </div>
  </div>
</nav>
