<section id='bloggr'>
  {{partial 'layouts/navbar'}}
  <section id='main' class='container'>
    {{outlet}}
  </section>
</section>

{{#if featureManager.isMarketer}}
{{partial 'layouts/partials/olark'}}
{{/if}}
