<div class='row'>
  <div class='list-group col-md-8'>
    {{#each model}}
      {{#link-to 'post' this class='list-group-item'}}
      {{title}}
      {{/link-to}}
    {{/each}}
  </div>

  <div class='col-md-4'>
    <img class='pony' src='/assets/images/pony.jpg' />
  </div>
</div>
{{outlet}}
