<div class='row'>
  <div class="page-header">
    <h1>{{pageHeader}}</h1>
    {{#if featureManager.isMarketer}}
    <small>
      {{partial 'posts/partials/marketer-value-prop'}}
    </small>
    {{/if}}
  </div>

  <div class='list-group col-md-8'>
    {{#each model}}
      {{#link-to 'post' this class='list-group-item'}}
      {{title}}
      {{/link-to}}
    {{/each}}
  </div>

  <div class='col-md-4'>
    {{#if featureManager.SHOW_PONY}}
    <img class='pony' src='/assets/images/pony.jpg' alt='pony'/>
    {{/if}}
  </div>
</div>
{{outlet}}
