<p>
  Marketing is the process of communicating the value of a product or service to customers, for the purpose of selling that product or service. Marketing can be looked at as an organizational function and a set of processes for creating, delivering and communicating value to customers, and customer relationship management that also benefits the organization. Marketing is the science of choosing target markets through market analysis and market segmentation, as well as understanding consumer behavior and providing superior customer value. From a societal point of view, marketing is the link between a society's material requirements and its economic patterns of response. Marketing satisfies these needs and wants through exchange processes and building long term relationships.
</p>
